<%- include('../head')%>
    <title>muziek</title>
    </head>

    <body>
        <header>
            <img src="/static/media/logo.png" alt="Skills logo">
        </header>
        <main class="muziekpagina">
            <input type="search" placeholder="Zoeken..">
            <section>
                <p>Er zijn <%= ads.length %> advertenties beschikbaar!</p>
                <% for ( var index=0; index < ads.length; index++ ) { %>
                    <section>

                        <h1>
                            <%= ads[index].titel %>
                        </h1>
                        <p>
                            <%= ads[index].omschrijving %>
                        </p>
                        <p>
                            <%= ads[index].naam %>
                        </p>
                        <p>
                            <%= ads[index].locatie %>
                        </p>

                    </section>
                    <% } %>

            </section>

        </main>
        <footer>
            <%- include('../nav')%>
        </footer>
    </body>

    </html>